RewriteEngine On
RewriteRule sotd sotd.php
RewriteRule forums forums.php
RewriteRule events events.xml
RewriteRule guild-news guild-news.php
RewriteRule auctions auctions.php
RewriteRule friends friends.php